@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

div#interface {
    background-color: #ffffff;
    border-radius: 50px;
}
.titulo {
    justify-content: center;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
p {
    text-align: justify;
    text-indent: 20px;
}

header#header {
    background-color: #006B64;
    color: #fff;
    text-align: center;
    padding: 20px;
    align-content: center;
    margin: auto;
}

header#header h1 {
    font-size: 2em;
    margin: 0;
}

header#header h2 {
    font-size: 1.2em;
    color: #ffffff;
    margin-top: 5px;
}

h3 {
    font-size: 1.2em;
    color: #333;
}

h4 {
    font-size: 1.5em;
    color: #333;
    margin: 0;
}

form {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto;
}

fieldset {
    flex: 1;
    border: 1px solid #ffffff;
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
}

fieldset#login {
    background-color: #006B64;
    color: #fff;
}

fieldset#cadastro {
    background-color: #0374B5;
    color: #fff;
}

input {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 1em;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

input:hover {
    background-color: #f0f0f0;
}
.title {
    color: white;
}

legend {
    color: #333;
    font-weight: bold;
    font-size: 0.8em;
    font-family: Arial, sans-serif;
    position: absolute;
    margin-top: -3.5rem;
}

.submit-buttons{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
input#submit,
input#clean,
input#voltar,
input#entrar {
    color: #000000;
    font-weight: bold;
    font-size: 1em;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    border: 0.1rem solid black;
    width: 250px;
}

input#enviar:hover,
input#limpar:hover,
input#cadastrar:hover,
input#entrar:hover {
    background-color: #ffffff;
}

.confirmacao-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}